.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	width: 80%;
	gap: 20px;
}

label {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 20px;
}

input {
	margin-top: 5px;
}


.error {
	color: red;
	font-size: 0.8rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}